<!doctype html>

<html lang="en">
<head>
    <title>Gradius Mobile - By Jeremy Heminger</title>
    <link rel="stylesheet" href="_/css/style.css" />
    <meta name="viewport" content="width=device, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
    <div class="container">
        <div class="top">
            <ul>
                <li><img src="_/icons/ship.png" /></li>
                <li><img src="_/icons/ship.png" /></li>
                <li><img src="_/icons/ship.png" /></li>
            </ul>
            <h3>0</h3>
        </div>
        <div class="info"></div>
        <canvas></canvas>
        <div class="pandc">
            <ul>
                <li>
                    <div class="select left">
                        <img src="_/icons/upgrade.png" />
                        <div class="bomb">
                            <img src="_/icons/bomb.png" />
                        </div>
                    </div>
                </li>
                <li><img src="_/icons/speedup.png" /></li>
                <li><img src="_/icons/lazer.png" /></li>
                <li><img src="_/icons/double.png" /></li>
                <li><img src="_/icons/reverse.png" /></li>
                <li><img src="_/icons/shield.png" /></li>
                <li>
                    <div class="select right">
                        <img src="_/icons/upgrade.png" />
                        <div class="bomb">
                            <img src="_/icons/bomb.png" />
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script src="http://localhost:35729/livereload.js"></script>
</body>
</html> 
