@import url(https://fonts.googleapis.com/css?family=Abel|Play|Orbitron);
/* line 1, ../components/sass/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 22, ../components/sass/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 26, ../components/sass/reset.scss */
body {
  line-height: 1; }

/* line 29, ../components/sass/reset.scss */
ol, ul {
  list-style: none; }

/* line 32, ../components/sass/reset.scss */
blockquote, q {
  quotes: none; }

/* line 35, ../components/sass/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 40, ../components/sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 4, ../components/sass/style.scss */
.container {
  z-index: -2;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Play', sans-serif;
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 768px;
  max-height: 1024px;
  padding: 0;
  margin: auto;
  background: #000000;
  box-shadow: border-box;
  overflow: hidden; }
  /* line 18, ../components/sass/style.scss */
  .container .top {
    position: absolute;
    top: -60px;
    left: 0px;
    z-index: 9999;
    width: 100%;
    -webkit-transition: top 0.5s ease-in;
    -moz-transition: top 0.5s ease-in;
    -o-transition: top 0.5s ease-in;
    -ms-transition: top 0.5s ease-in;
    transition: top 0.5s ease-in; }
    /* line 27, ../components/sass/style.scss */
    .container .top ul {
      list-style: none;
      float: left; }
      /* line 30, ../components/sass/style.scss */
      .container .top ul li {
        float: left;
        width: 40px; }
        /* line 33, ../components/sass/style.scss */
        .container .top ul li img {
          width: 100%;
          max-width: 100%;
          padding: 0;
          margin: 2px; }
    /* line 41, ../components/sass/style.scss */
    .container .top h3 {
      display: inline;
      float: right;
      font-size: 30px;
      color: #fff;
      padding: 5px; }
  /* line 49, ../components/sass/style.scss */
  .container .info {
    z-index: 9998;
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    -ms-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in; }
    /* line 54, ../components/sass/style.scss */
    .container .info table {
      width: 100%; }
      /* line 2, ../components/sass/_mixins.scss */
      .container .info table:before, .container .info table:after {
        content: '';
        display: table; }
      /* line 7, ../components/sass/_mixins.scss */
      .container .info table:after {
        clear: both; }
      /* line 57, ../components/sass/style.scss */
      .container .info table td {
        background: #F4F0FF;
        padding: 15px 5px 5px 7%;
        font-family: 'Orbitron', sans-serif;
        margin: 0;
        border-left: solid 2px #000;
        border-bottom: 2px #DCD1D1 solid;
        box-sizing: border-box;
        font-size: 30px; }
    /* line 68, ../components/sass/style.scss */
    .container .info .main {
      color: #fff;
      text-transform: uppercase; }
      /* line 71, ../components/sass/style.scss */
      .container .info .main img {
        display: block;
        width: 350px;
        margin: 40% auto 0; }
    /* line 77, ../components/sass/style.scss */
    .container .info .instructions {
      opacity: 0;
      width: 0px;
      height: 0px; }
    /* line 78, ../components/sass/style.scss */
    .container .info .about {
      opacity: 0;
      width: 0px;
      height: 0px; }
  /* line 80, ../components/sass/style.scss */
  .container canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1; }
  /* line 86, ../components/sass/style.scss */
  .container .pandc {
    position: absolute;
    bottom: -60px;
    left: 0px;
    z-index: 9999;
    background: #000360;
    border-top: solid 1px #665ea4;
    width: 100%;
    -webkit-transition: bottom 0.5s ease-in;
    -moz-transition: bottom 0.5s ease-in;
    -o-transition: bottom 0.5s ease-in;
    -ms-transition: bottom 0.5s ease-in;
    transition: bottom 0.5s ease-in; }
    /* line 97, ../components/sass/style.scss */
    .container .pandc .left {
      opacity: 0;
      width: 0px;
      height: 0px;
      padding: 0 0 0 5px; }
    /* line 103, ../components/sass/style.scss */
    .container .pandc .right {
      padding: 0 5px 0 0; }
    /* line 106, ../components/sass/style.scss */
    .container .pandc ul {
      list-style: none; }
      /* line 108, ../components/sass/style.scss */
      .container .pandc ul li {
        float: left; }
        /* line 109, ../components/sass/style.scss */
        .container .pandc ul li .current {
          background: rgba(130, 81, 81, 0.3); }
        /* line 113, ../components/sass/style.scss */
        .container .pandc ul li .select {
          width: 50px;
          position: relative; }
          /* line 114, ../components/sass/style.scss */
          .container .pandc ul li .select img {
            width: 100%;
            margin: 1px;
            padding: 0px; }
          /* line 121, ../components/sass/style.scss */
          .container .pandc ul li .select .bomb {
            position: absolute;
            top: 0px;
            -webkit-transition: bottom 0.5s ease-in;
            -moz-transition: bottom 0.5s ease-in;
            -o-transition: bottom 0.5s ease-in;
            -ms-transition: bottom 0.5s ease-in;
            transition: bottom 0.5s ease-in; }
        /* line 129, ../components/sass/style.scss */
        .container .pandc ul li img {
          width: 50px;
          padding: 1px 15%; }
        /* line 133, ../components/sass/style.scss */
        .container .pandc ul li:last-child {
          float: right; }
  /* line 139, ../components/sass/style.scss */
  .container .top.show {
    top: 0px; }
  /* line 142, ../components/sass/style.scss */
  .container .pandc.show {
    bottom: 0px; }
  /* line 145, ../components/sass/style.scss */
  .container .bomb.show {
    top: -60px; }

@media only screen and (max-width: 320px) {
  /* line 150, ../components/sass/style.scss */
  .container .pandc ul li img {
    padding: 1px; }

  /* line 151, ../components/sass/style.scss */
  .container .top ul li {
    width: 20px; }

  /* line 152, ../components/sass/style.scss */
  .container .top h3 {
    font-size: 12px; }

  /* line 153, ../components/sass/style.scss */
  .container .pandc {
    bottom: -120px; }

  /* line 154, ../components/sass/style.scss */
  .container .info .main img {
    width: 100%;
    margin: 40% auto 0; } }
@media only screen and (max-width: 375px) {
  /* line 157, ../components/sass/style.scss */
  .container .pandc ul li img {
    padding: 1px 10%; }

  /* line 158, ../components/sass/style.scss */
  .container .top ul li {
    width: 20px; }

  /* line 159, ../components/sass/style.scss */
  .container .top h3 {
    font-size: 12px; }

  /* line 160, ../components/sass/style.scss */
  .container .info .main img {
    width: 100%;
    margin: 40% auto 0; }

  /* line 161, ../components/sass/style.scss */
  .container .pandc {
    bottom: -120px; } }
@media only screen and (max-width: 411px) {
  /* line 164, ../components/sass/style.scss */
  .container .pandc ul li img {
    padding: 1px 15%; }

  /* line 165, ../components/sass/style.scss */
  .container .top ul li {
    width: 20px; }

  /* line 166, ../components/sass/style.scss */
  .container .top h3 {
    font-size: 12px; }

  /* line 167, ../components/sass/style.scss */
  .container .pandc {
    bottom: -120px; }

  /* line 168, ../components/sass/style.scss */
  .container .info .main img {
    width: 100%;
    margin: 40% auto 0; } }
@media only screen and (min-width: 414px) {
  /* line 171, ../components/sass/style.scss */
  .container .pandc ul li img {
    padding: 1px 15%; }

  /* line 172, ../components/sass/style.scss */
  .container .top ul li {
    width: 20px; }

  /* line 173, ../components/sass/style.scss */
  .container .top h3 {
    font-size: 12px; }

  /* line 174, ../components/sass/style.scss */
  .container .info .main img {
    width: 100%;
    margin: 40% auto 0; } }
@media only screen and (max-width: 435px) {
  /* line 177, ../components/sass/style.scss */
  .container .pandc ul li img {
    padding: 1px 15%; }

  /* line 178, ../components/sass/style.scss */
  .container .top ul li {
    width: 20px; }

  /* line 179, ../components/sass/style.scss */
  .container .top h3 {
    font-size: 12px; }

  /* line 180, ../components/sass/style.scss */
  .container .info .main img {
    width: 100%;
    margin: 40% auto 0; }

  /* line 181, ../components/sass/style.scss */
  .container .info table td {
    padding: 5px 5px 5px 4%;
    font-size: 20px; } }
